---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import Testimonial from "@/partials/Testimonial.astro";
import type { Button, Feature } from "@/types";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import { FaCheck } from "react-icons/fa/index.js";

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
}

const backgroundImageStyle = {
  backgroundImage: 'url("/images/background.png")',
  backgroundSize: 'cover',
  backgroundRepeat: 'repeat',
  backgroundPosition: 'center center',
  minHeight: '5400px', 
};

const homepage = await getEntryBySlug("homepage", "-index");
const testimonial = await getEntryBySlug("sections", "testimonial");
const call_to_action = await getEntryBySlug("sections", "call-to-action");
const { banner, features }: Homepage = homepage.data;
---

<div style={backgroundImageStyle}>
<Base>
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="mb-16 text-center lg:col-7">
          <h1 set:html={markdownify(banner.title)} class="mb-4" />
          <p set:html={markdownify(banner.content)} class="mb-8" />
        </div>
        {
          banner.image && (
            <div class="col-12">
              <Image
                src={banner.image}
                height={380}
                width={1200}
                alt="banner image"
                format="webp"
                class="floating-animation"
              />
            </div>
          )
        }
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <!-- Features -->
  {
    features.map((feature, index: number) => (
      <section class={`section-sm ${(index % 2 === 0) && "bg-gradient"}`}>
        <div class="container">
          <div class="row items-center justify-between">
            <div
              class={`mb:md-0 mb-6 md:col-5 ${index % 2 !== 0 && "md:order-2"}`}
            >
              <Image
                src={feature.image}
                height={480}
                width={520}
                fit="contain"
                background="rgba(0,0,0,0)"
                alt={feature.title}
                format="webp"
              />
            </div>
            <div class={`md:col-7 lg:col-6 ${index % 2 !== 0 ? "odd-index" : "even-index"}`}>
  <h2 set:html={markdownify(feature.title)} class={`mb-4 ${index % 2 !== 0 ? "text-odd-color" : "text-even-color"}`} style="font-weight:bold;"/>
  <p set:html={markdownify(feature.content)} class={`mb-8 text-lg ${index % 2 !== 0 ? "text-odd-color" : "text-even-color"}`} style="font-weight:bold;"/>
</div>

          </div>
        </div>
      </section>
    ))
  }
  <!-- /Features -->

  <Testimonial testimonial={testimonial} />
  <section class="section-sm pb-0">
    <h2 style="text-align:center; margin:2%; color:azure;">Contributors</h2>
    <div class="container">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
        <div class="rounded bg-theme-light p-8 text-center dark:bg-darkmode-theme-light">
          <h4 class="mb-3">
            <a>Giang Tran</a>
          </h4>
          <p class="mb-4">
            University of Waterloo 1st Year Global Business & Art Student
          </p>
        </div>

        <div class="rounded bg-theme-light p-8 text-center dark:bg-darkmode-theme-light">
          <h4 class="mb-3">
            <a>Grace Xu</a>
          </h4>
          <p class="mb-4">
            University of Waterloo 2nd Year Computer Science Student
          </p>
        </div>

        <div class="rounded bg-theme-light p-8 text-center dark:bg-darkmode-theme-light">
          <h4 class="mb-3">
            <a>Son Nguyen</a>
          </h4>
          <p class="mb-4">
            University of Toronto 2nd Year Math & Computer Science Student
          </p>
        </div>

        <div class="rounded bg-theme-light p-8 text-center dark:bg-darkmode-theme-light">
          <h4 class="mb-3">
            <a>Jimmy Nguyen</a>
          </h4>
          <p class="mb-4">
            York University 1st Year Software Engineering Student
          </p>
        </div>
        
        <div class="rounded bg-theme-light p-8 text-center dark:bg-darkmode-theme-light">
          <h4 class="mb-3">
            <a>Hyun Joon Kim</a>
          </h4>
          <p class="mb-4">
            Seneca Polytechnic 1st Year Computer Programming and Analysis Student
          </p>
        </div>
        <div class="rounded bg-theme-light p-8 text-center dark:bg-darkmode-theme-light">
          <h4 class="mb-3">
            <a>Chelsea Wong</a>
          </h4>
          <p class="mb-4">
            Toronto High School Student
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <CallToAction call_to_action={call_to_action} />

</Base>
</div>

<style>
  .section-sm {
    margin-bottom: 20px; 
  }
  @keyframes float {
    0% {
      transform: translateY(1%);
    }
    50% {
      transform: translateY(-2%); /* Adjust the floating height as needed */
    }
    100% {
      transform: translateY(1%);
    }
  }

  .floating-animation {
    animation: float 2s ease-in-out infinite; /* Adjust the animation duration as needed */
  }

  .text-odd-color { 
    color: rgb(215, 215, 215);
  }

  .text-even-color {
    color: rgb(87, 87, 87);
  }
</style>
